:root {
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #ffffff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
  --fire: #ff6d00;
  --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background);
  color: var(--text-white);
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  background: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

[class$="-container"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* HEADER */
.header {
  background-color: var(--secondary);
}

.header__contenido {
  height: 6rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 9rem;
}

.menu {
  display: none;
}

@media (min-width:768px) {
  .menu {
    display: flex;
    gap: 4rem;
  }
}

@media (min-width:768px) {
  .navbar__burguer {
    display: none;
  }
}

.menu__link {
  color: var(--text-gray);
}

.menu__link--select {
  font-weight: bold;
  color: var(--text-white);
}